<mat-card class="electricity-create">
  <mat-card-header>


    <mat-card-title>Создание Пользователя</mat-card-title>
  </mat-card-header>
  <form novalidate>
    <mat-card-content class="create-electro-content">


      <mat-list>

        
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Наименование потребителя</h4>
          <p class="form-element">
            <mat-form-field appearance="standard">
              <mat-label>Наименование потребителя</mat-label>
              <input matInput  [(ngModel)]="user.Name" name="Name" type="text">
            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label_important</mat-icon>
          <h4 mat-line>Пароль</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Пароль</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="user.Password" name="Password" type="password">
            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label_important</mat-icon>
          <h4 mat-line>Роль</h4>
          <p>
            <mat-form-field>
              <mat-label>Роль пользователя</mat-label>
              <mat-select [(ngModel)]="user.Role">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>explore</mat-icon>
          <h4 mat-line>Уровень доступа</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Уровень доступа</mat-label>
              <input matInput  [(ngModel)]="user.AccessLevel" name="Level" type="number">

            </mat-form-field>
          </p>
        </mat-list-item>
      </mat-list>
      <div class="row-form-buttons">
        <button mat-raised-button>Создать пользователя</button>
        <button mat-raised-button color="accent">Отменить</button>

      </div>
    </mat-card-content>
  </form>
</mat-card>