.action-buttons{
    display: flex;
    
    .review-action-btn{
        margin-left: 30px;
        margin-bottom: 15px;
    }
}
tr.customer-select-row{

}
tr.customer-select-row:hover{
    background: #efefef;


}

