<mat-card>
  <mat-card-header>
    <mat-card-title>Просмотр потребителей</mat-card-title>
  </mat-card-header>

  <mat-form-field appearance="outline" class="review_data">
    <mat-label>Форма поиска по потребителям</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск по таблице">
    <mat-icon matSuffix>find_replace</mat-icon>
  </mat-form-field>
  <div class="action-buttons">
    <a class="review-action-btn" mat-raised-button routerLink="/electro/customer/create"> Добавить потребителя </a>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="review-action-btn">Отчеты</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="reportDisabled()">Отчет по отключенным потребителям</a>
    </mat-menu>
  </div>

  <div class="mat-elevation-z8">


    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>


      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Идентификатор</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="objectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование объекта</th>
        <td mat-cell *matCellDef="let element"> {{element.objectName}} </td>
      </ng-container>
      <ng-container matColumnDef="objectAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Адрес объекта</th>
        <td mat-cell *matCellDef="let element"> {{element.objectAddress}} </td>
      </ng-container>
      <ng-container matColumnDef="placeInstall">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Место установки</th>
        <td mat-cell *matCellDef="let element"> {{element.placeInstall}} </td>
      </ng-container>

      <ng-container matColumnDef="lineId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер Линии</th>
        <td mat-cell *matCellDef="let element"> {{element.lineId}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус подключения</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox class="example-margin" [disabled]="true"  [(ngModel)]="element.status"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="customer-select-row"
          (click)="selectedCustomer(element)"
      >
        <!-- add ngModel for customer-->
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
