<mat-toolbar color="primary" role="heading">


    <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Electro </span>

        <span class="nav-space"></span>

    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize class="nav-container">
    <mat-drawer #drawer class="sidebar-panel" mode="side">
        <mat-list role="list">
                <mat-list-item role="listitem">
                        <a class="menu-link" routerLink="/electro/main">Главная</a>
                   </mat-list-item>
            <mat-list-item role="listitem">
                 <a class="menu-link" routerLink="/electro/view">Энергообъекты</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a class="menu-link" routerLink="/electro/customer/view">Потребители</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a class="menu-link" routerLink="/electro/workload/view">Замер нагрузок </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <a class="menu-link" routerLink="constructor">Конструктор запросов</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a class="menu-link" routerLink="statistic">Статистика </a></mat-list-item>
            <mat-list-item role="listitem">
                <a class="menu-link" routerLink="profile/settings">Настройки </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-content">
            <router-outlet></router-outlet>

        </div>
    </mat-drawer-content>
</mat-drawer-container>