<mat-card class="electricity-create">
  <mat-card-header>


    <mat-card-title>Изменение Секции</mat-card-title>
  </mat-card-header>
  <form novalidate #form='ngForm'>
    <mat-card-content class="create-electro-content">


      <mat-list>


        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Наименование энергообъекта</h4>
          <p class="form-element">
            <mat-form-field appearance="standard">
              <mat-label>Наименование энергообъекта</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="section.name" name="Name" type="text" required>
            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label_important</mat-icon>
          <h4 mat-line>Мощность</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Мощность</mat-label>
              <input matInput placeholder="Placeholder" min="0" [(ngModel)]="section.power" name="Power" type="number" required>
            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label_important</mat-icon>
          <h4 mat-line>Напряжение</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Напряжение</mat-label>
              <input matInput placeholder="Placeholder" min="0" [(ngModel)]="section.voltage" name="Voltage" type="number" required>

            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>explore</mat-icon>
          <h4 mat-line>Геопозиция</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Геопозиция</mat-label>
              <input matInput placeholder="Placeholder"  [(ngModel)]="section.geocode" name="Geocode" type="text" required>

            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Номер ТП</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Номер ТП</mat-label>
              <input matInput placeholder="Placeholder" min="0" [(ngModel)]="section.tpId" name="TpId" type="number" required>

            </mat-form-field>
          </p>
        </mat-list-item>

        <br>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Счетчик</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Наименование счетчика</h4>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Наименование счетчика</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="section.counter.name" name="CounterName" type="text" required>

            </mat-form-field>
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">label_important</mat-icon>
          <h4 mat-line="">Модель счетчика</h4>
          <p>

            <mat-form-field>
              <mat-label>Модель счетчика</mat-label>
              <mat-select [(ngModel)]="section.counter.brand.name" [ngModelOptions]="{standalone:true}" required>
                <mat-option [value]="1">
                  1с-4
                </mat-option>
              </mat-select>
            </mat-form-field>


          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">event</mat-icon>
          <h4 mat-line="">Дата установки</h4>
          <p>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Дата установки"
                     [(ngModel)]="section.counter.date" name="DateInstall" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </p>

        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">date_range</mat-icon>
          <h4 mat-line="">Дата последней проверки</h4>
          <p>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Дата последней проверки"
                     [(ngModel)]="section.counter.dateLastCheck" name="DateLastCheck" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </p>
        </mat-list-item>
      </mat-list>
      <div class="row-form-buttons">
        <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">Изменить энергообъект</button>
        <button mat-raised-button (click)="back()" color="accent">Отменить</button>

      </div>
    </mat-card-content>
  </form>
</mat-card>
