<mat-card class="electricity-create">
    <mat-card-header>
  
  
      <mat-card-title>Изменение Линии</mat-card-title>
    </mat-card-header>
    <form novalidate #form='ngForm'>
      <mat-card-content class="create-electro-content">
  
  
        <mat-list>
  
         
          <mat-list-item>
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Наименование энергообъекта</h4>
            <p class="form-element">
              <mat-form-field appearance="standard">
                <mat-label>Наименование энергообъекта</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="line.name" name="Name" type="text" required>
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>label_important</mat-icon>
            <h4 mat-line>Мощность</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Мощность</mat-label>
                <input matInput placeholder="Placeholder" min="0" [(ngModel)]="line.power" name="Power" type="number" required>
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>label_important</mat-icon>
            <h4 mat-line>Напряжение</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Напряжение</mat-label>
                <input matInput placeholder="Placeholder" min="0" [(ngModel)]="line.voltage" name="Voltage" type="number" required>
  
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>explore</mat-icon>
            <h4 mat-line>Геопозиция</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Геопозиция</mat-label>
                <input matInput placeholder="Placeholder"  [(ngModel)]="line.geocode" name="Geocode" type="text" required>
  
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>label</mat-icon>
            <h4 mat-line>Номер секции</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Номер секции</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="line.sectionId" name="SectionId" type="number" >

              </mat-form-field>
            </p>
          </mat-list-item>
  
          <br>
          <mat-divider></mat-divider>
          <br>
        </mat-list>
        <div class="row-form-buttons">
          <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">Изменить энергообъект</button>
          <button mat-raised-button (click)="back()" color="accent">Отменить</button>
  
        </div>
      </mat-card-content>
    </form>
  </mat-card>
