<mat-card class="workload-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Просмотр замера нагрузки</mat-card-title>
            <mat-card-subtitle>
                <div class="action-buttons">
                    <a mat-raised-button [routerLink]="['/electro/workload/create']" class="review-action-btn">Создание
                        замера нагрузок</a>
                    <a mat-raised-button (click)="exportReport()" class="review-action-btn">Отчет по
                        замеру нагрузок</a>


                </div>
            </mat-card-subtitle>
        </mat-card-header>
        <p>
            <mat-form-field appearance="outline" class="review_data">
                <mat-label>Форма поиска по таблице</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск по таблице">
                <mat-icon matSuffix>find_replace</mat-icon>
            </mat-form-field>
        </p>

        <mat-card-content class="electricity-review">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Идентификатор </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата проведения замера </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Symbol Column -->


                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">

                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Секции шин
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Данные по секциям шин
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <table mat-table [dataSource]="element.busbarSections" class="mat-elevation-z8">

                                            <!--- Note that these columns can be defined in any order.
                                                            The actual rendered columns are set as a property on the row definition" -->

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef> Идентификатор </th>
                                                <td mat-cell *matCellDef="let bsb"> {{bsb.id}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Наименование </th>
                                                <td mat-cell *matCellDef="let bsb"> {{bsb.name}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="value">
                                                <th mat-header-cell *matHeaderCellDef> Значение </th>
                                                <td mat-cell *matCellDef="let bsb"> {{bsb.value}} </td>
                                            </ng-container>



                                            <tr mat-header-row *matHeaderRowDef="busbarSectionsDisplay"></tr>
                                            <tr mat-row *matRowDef="let row; columns: busbarSectionsDisplay;"></tr>
                                        </table>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Фазы
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Данные по фазам
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <table mat-table [dataSource]="element.phases" class="mat-elevation-z8">

                                            <!--- Note that these columns can be defined in any order.
                                                                    The actual rendered columns are set as a property on the row definition" -->

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef> Идентификатор </th>
                                                <td mat-cell *matCellDef="let dater"> {{dater.id}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Наименование линии </th>
                                                <td mat-cell *matCellDef="let dater"> {{dater.name}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="values">
                                                <th mat-header-cell *matHeaderCellDef> Значения </th>
                                                <td mat-cell *matCellDef="let element">
                                                   

                                                </td>
                                            </ng-container>



                                            <tr mat-header-row *matHeaderRowDef="phaseDisplay"></tr>
                                            <tr mat-row *matRowDef="let row; columns: phaseDisplay;"></tr>
                                        </table>
                                    </mat-expansion-panel>

                                </mat-accordion>
                            </div>

                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>


        </mat-card-content>

    </mat-card>

</mat-card>