<mat-card class="electricity-create">
  <mat-card-header>


    <mat-card-title>Просмотр Секции</mat-card-title>
  </mat-card-header>
  <form novalidate>
    <mat-card-content class="create-electro-content">


      <mat-list>
        <h3 mat-subheader>Данные по Секции</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-section>Наименование Секции</h4>
          <h3> {{section.name}} </h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-section>Мощность</h4>
          <h3> {{section.power}} </h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-section>Напряжение</h4>
          <h3> {{section.voltage}} </h3>
        </mat-list-item>
    
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-section>Геопозиция</h4>
          <h3> {{section.geocode}} </h3>
        </mat-list-item>
        <h3 mat-subheader>Счетчик</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-section>Наименование счетчика</h4>
         <h3>{{section.counter.name}}</h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">label_important</mat-icon>
          <h4 mat-section="">Модель счетчика</h4>
          <h3>{{section.counter.brand.name}}</h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">event</mat-icon>
          <h4 mat-section="">Дата установки</h4>
          <h3>{{section.counter.date}}</h3>
  
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon="">date_range</mat-icon>
          <h4 mat-section="">Дата последней проверки</h4>
          <h3>{{section.counter.dateLastCheck}}</h3>

        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <br>
      <div class="row-form-buttons">
        <button mat-raised-button (click)="onSubmit()">Изменить энергообъект</button>
        <button mat-raised-button color="accent">Отменить</button>

      </div>
    </mat-card-content>
  </form>
</mat-card>