<mat-card class="electricity-create">
    <mat-card-header>
  
  
      <mat-card-title>Создание Трансформаторной подстанции</mat-card-title>
    </mat-card-header>
    <form novalidate #form='ngForm' (ngSubmit)="onSubmit()">
      <mat-card-content class="create-electro-content">
  
  
        <mat-list>
  

          <mat-list-item>
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Наименование энергообъекта</h4>
            <p class="form-element">
              <mat-form-field appearance="standard">
                <mat-label>Наименование энергообъекта</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="tp.name" name="Name" type="text"  required>
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>label_important</mat-icon>
            <h4 mat-line>Мощность</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Мощность</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="tp.power" name="Power" type="number" min="0" required>
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>label_important</mat-icon>
            <h4 mat-line>Напряжение</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Напряжение</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="tp.voltage" name="Voltage" type="number" min="0" required>
  
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>explore</mat-icon>
            <h4 mat-line>Геопозиция</h4>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Геопозиция</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="tp.geocode" name="Geocode" type="text" required>
  
              </mat-form-field>
            </p>
          </mat-list-item>



          <br>
          <mat-divider></mat-divider>
          <h3 mat-subheader>Трансформатор</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>label</mat-icon>
            <h4 mat-line>Наименование Трансформатора</h4>
            <p>
              <mat-form-field>
                <mat-label>Наименование Трансформатора</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="tp.transformer.name" name="TransformerId" type="text">
  
              </mat-form-field>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon="">label_important</mat-icon>
            <h4 mat-line="">Тип Трансформатора</h4>
            <p>

              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Тип Трансформатора" aria-label="Number" matInput [(ngModel)]="tp.transformer.type.name" [matAutocomplete]="auto" [ngModelOptions]="{standalone: true}">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of transType" [value]="transType">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon="">label_important</mat-icon>
            <h4 mat-line="">Модель Трансформатора</h4>
            <p>

              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Модель Трансформатора" aria-label="Number" matInput [(ngModel)]="tp.transformer.model.name" [matAutocomplete]="auto" [ngModelOptions]="{standalone: true}">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon="">event</mat-icon>
            <h4 mat-line="">Дата установки</h4>
            <p>
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Дата установки" [(ngModel)]="tp.transformer.dateInstallation"
                  name="DateInstall">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </p>
  
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon="">date_range</mat-icon>
            <h4 mat-line="">Дата последней проверки</h4>
            <p>
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Дата последней проверки"
                  [(ngModel)]="tp.transformer.dateCheck" name="DateLastCheck">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </p>
          </mat-list-item>
        </mat-list>
        <div class="row-form-buttons">
          <button mat-raised-button [disabled]="form.invalid" type="submit">Добавить энергообъект</button>
          <button mat-raised-button color="accent" (click)="back()">Отменить</button>
  
        </div>
      </mat-card-content>
    </form>
  </mat-card>
