
<div class="">
  
  <mat-card >
      <mat-card-header>
          <mat-card-title>Список пользователей</mat-card-title>
          <mat-card-subtitle>
              <div class="action-buttons">
                  <a mat-raised-button  [routerLink]="['/admin/create']" class="review-action-btn" >Создание пользователя</a>
                </div>
          </mat-card-subtitle>
        </mat-card-header>
        <p>
            <mat-form-field appearance="outline" class="review_data">
              <mat-label>Форма поиска по таблице</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск по таблице">
              <mat-icon matSuffix>find_replace</mat-icon>
            </mat-form-field>
          </p>
       
     <mat-card-content class="electricity-review">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Идентификатор </th>
              <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Password">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Пароль </th>
              <td mat-cell *matCellDef="let element"> {{element.Password}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Роль </th>
              <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
            </ng-container>
            <ng-container matColumnDef="AccessLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Уровень доступа </th>
                <td mat-cell *matCellDef="let element"> {{element.AccessLevel}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/admin/change',row.Id]"></tr>
          </table>

         
     </mat-card-content>
       
</mat-card>

</div>

