<mat-card class="electricity-create">
  <mat-card-header>


    <mat-card-title>Просмотр Фидера</mat-card-title>
  </mat-card-header>
  <form novalidate>
    <mat-card-content class="create-electro-content">


      <mat-list>
        <h3 mat-subheader>Данные по фидеру</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Наименование фидера</h4>
          <h3> {{fider.name}} </h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Мощность</h4>
          <h3> {{fider.power}} </h3>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Напряжение</h4>
          <h3> {{fider.voltage}} </h3>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>Геопозиция</h4>
          <h3> {{fider.geocode}} </h3>
        </mat-list-item>

        <mat-divider></mat-divider>
      </mat-list>
      <br>
      <div class="row-form-buttons">
        <button mat-raised-button (click)="onSubmit()">Изменить энергообъект</button>
        <button mat-raised-button (click)="remove()">Удалить энергообъект</button>

        <button mat-raised-button color="accent" (click)="back()">Отменить</button>

      </div>
      <br>
      <h4>Список подключенных ТП</h4>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Идентификатор</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Наименование</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef> Мощность</th>
          <td mat-cell *matCellDef="let element"> {{element.power}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="voltage">
          <th mat-header-cell *matHeaderCellDef> Напряжение</th>
          <td mat-cell *matCellDef="let element"> {{element.voltage}} </td>
        </ng-container>
        <ng-container matColumnDef="geocode">
          <th mat-header-cell *matHeaderCellDef> Геопозиция</th>
          <td mat-cell *matCellDef="let element"> {{element.geocode}} </td>
        </ng-container>
        <ng-container matColumnDef="fiderId">
          <th mat-header-cell *matHeaderCellDef> Геопозиция</th>
          <td mat-cell *matCellDef="let element"> {{element.fiderId}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectTp(row)"></tr>
      </table>

      <br>

    </mat-card-content>
  </form>
</mat-card>
